:root {
  --background: #f1ece6;
  --warmground: #d6c3a5;
  --darkground: #1c1c1c;
  --foreground: #1e1e1e;
  --accent: #c2b8ae;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pp);
}
